@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Insurance Application</h1>
    <p class="lead">This application was created purely for demonstration purposes. Please read getting started for more details</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application offers the following functionality:
            <ul>
                <li>Online Insurance Creation</li>
                <li>Field validation</li>
            </ul>
        </p>
    </div>
    <div class="col-md-8">
        <h2>Technology Stack</h2>
        <div class="col-md-6">
            <ul>
                <li>ASP.NET MVC 5</li>
                <li>C#.NET</li>
                <li>Entity Framework 6 Code First</li>
                <li>MS SQL</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Razor View Engine</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JQuery</li>
                <li>Ajax</li>
            </ul>
        </div>
    </div>

</div>